@charset "utf-8";


@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{
    list-style: none;
}

.header{
    width: 100%;
    height: 100vh;
    background: url(../img/top.jpg) no-repeat center center;
    background-size: cover;
    text-align: center;
    >h1{
        font-family:'Sawarabi Gothic', sans-serif;
        font-size: 50px;
        letter-spacing: 0.5em;
        margin-bottom: 10px;
        color: #ef854c;
        padding-top: 100px;
    }
}
.profile{
    .header>h1{
        color: #4095c6;
    }
    
}
.works{
    .header>h1{
        color: #40c65f;
    }
    
}
.gnav{
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    >ul{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        >li{
            height: 60px;
            >a{
                padding: 0 30px;
                line-height: 60px;
                font-size: 20px;
                color: #ef854c;
                background-color: #ffffff81;
                &:hover{
                    color: #696ded;
                }
            }
        }
    }

}